/* MAIN HEADER */
.main-header {
  background-color: var(--bg-color);
  color: var(--dark-color);
  padding: 200px 200px 0px 200px;
  text-align: left; /* Change to left-align the text */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allows responsiveness */
}

/* Left Section: Title and About Me */
.title-section {
  max-width: 50%; /* Adjust the width */
}

.main-header h1 {
  font-size: 3.5rem;
  color: var(--primary-color);
}

.main-header p {
  font-size: 1.5rem;
  color: var(--text-color);
}

.about-me {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-top: 20px;
  line-height: 1.6;
}

/* Social Links Styling */
.social-links {
  margin-top: 20px;
}

.social-links a {
  margin-right: 15px;
  font-size: 2.5rem;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: var(--hover-color);
}

/* Bitmoji Section */
.bitmoji-container {
  perspective: 1000px;
  display: inline-block;
  max-width: 50%; /* Adjust width to match the title section */
}

/* Bitmoji Image */
.bitmoji {
  width: 350px; /* Adjust width */
  cursor: pointer;
  transition: transform 0.4s, mask-position 0.4s;
  transform: perspective(400px) rotate3d(1, -1, 0, calc(var(--i, 1) * 3deg));
  mask: 
    linear-gradient(135deg, #000c 40%, #000, #000c 60%)
    100% 100% / 240% 240%;
  mask-position: 100% 100%;
  transform-style: preserve-3d;
}

/* Hover Effect */
.bitmoji:hover {
  --i: -1;
  mask-position: 0 0;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .header-content {
    flex-direction: column; /* Stack the content vertically on smaller screens */
    text-align: center;
  }

  .title-section, .bitmoji-container {
    max-width: 100%; /* Full width on small screens */
  }

  .bitmoji {
    width: 300px; /* Adjust size for smaller screens */
  }
}


/*CREATIVITY*/

.title {
  font-family: "Gilroy";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 2;
}

/* Styling for the rest of the header title */
h1 {
  color: var(--text-color); /* You can keep the default color for the rest of the text */
}

/* Creativity word effect */
.creativity {
  background-image: url(https://media.giphy.com/media/AUaKYHLhMHlw1lSx3j/giphy.gif?cid=ecf05e4732s4va4tx0cjml921i6g6ld4ascqm6qgnhk38qe8&ep=v1_gifs_related&rid=giphy.gif&ct=g);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  letter-spacing: 1px;
}
