 /* Container holding the image and the text */
 /* img:hover {
    -webkit-filter: blur(4px); 
    filter: blur(4px);
} */
.zoom {
    transition: transform .2s; /* Animation */

}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: grey;
}

::selection {
  color: white;
  background: grey;
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

 .containeramish {
    position: relative;
  
      
    text-align: center;
    color: white;
  }
/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  .just-left {
    position: absolute;
    bottom: 256px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 15px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }