/* NAVBAR */
.navbar {
    width: 100%;
    background-color: var(--bg-color);
    color: var(--primary-color);
    padding: 40px 40px;
    border-bottom: var(--horizontal-line);
    /* Simple grey line */
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo h1 {
    font-size: 2rem;
    color: var(--primary-color);
    display: inline-flex;
    align-items: center; /* Vertically align the image and text */
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 40px;
}

.navbar .nav-links li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--primary-color);
    transition: color 0.3s ease-in;
}

.navbar .nav-links li a:hover {
    color: var(--dark-color);
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
  }

.mode-label {
    margin-left: 10px;
    font-size: 1.2rem; /* Adjust the size if necessary */
    color: var(--text-color);
  }

  /* Style for the profile picture */
.profile-pic {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%; /* Makes it circular */
    margin-right: 10px; /* Space between the image and the text */
    vertical-align: middle; /* Aligns it vertically with the text */
    object-fit: cover; /* Ensures the image fits well */
}