<!-- <div id="custom-cursor"></div> -->
<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a style="text-decoration: none;" href="#">
        <!-- <img src="assets/amishraj.jpeg" alt="Profile Picture" class="profile-pic"> -->
        <h1>
          Amish Raj
        </h1>
      </a>
    </div>
    <ul class="nav-links">
      <li class="dark-mode-toggle">
        <!-- Dark Mode Switch -->
        <label class="switch">
          <input type="checkbox" id="themeSwitch" (click)="toggleTheme()">
          <span class="slider round"></span>
        </label>
        <span style="cursor: pointer;" class="mode-label" (click)="toggleSwitch()">Dark Mode</span>
      </li>
      <li><a href="#timeline">Timeline</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="mailto:amish.raj@gwu.edu" target="_blank">Email Me</a></li>
      <li><a target="_blank"
          href="https://drive.google.com/file/d/1WPlY5oB8hAFGgfkEzewAjNkNAtF_oLDT/view?usp=sharing">Resume</a></li>
    </ul>
  </div>
</nav>