<section class="timeline-section">
    <div class="container">
      <h1 class="projects-title" style="text-align: center;">Timeline</h1>
      <p class="projects-caption" style="text-align: center;">A quick recap of my journey with key experiences and education.</p>
  
      <div class="timeline">
        <!-- 2023: MS CS from GWU -->
        <div class="timeline-item">
          <div class="timeline-content">
            <h2>Master of Science in Computer Science</h2>
            <p>George Washington University</p> <br>
            <h3>2022 - 2024</h3>
          </div>
        </div>
  
        <!-- 2021-2022: Software Engineer at Fidelity -->
        <div class="timeline-item">
          <div class="timeline-content">
            <h2>Software Engineer</h2>
            <p>Fidelity Investments</p> <br>
            <h3>2021 - 2022</h3>
          </div>
        </div>
  
        <!-- 2020: Fidelity Internship -->
        <div class="timeline-item">
          <div class="timeline-content">
            <h2>Software Engineering Intern</h2>
            <p>Fidelity Investments</p> <br>
            <h3>2020</h3>
          </div>
        </div>
  
        <!-- 2017-2021: BTech CS from MNIT Jaipur -->
        <div class="timeline-item">
          <div class="timeline-content">
            <h2>Bachelor of Technology in Computer Science and Engineering</h2>
            <p>MNIT Jaipur - IN </p> <br>
            <h3>2017-2021</h3>
          </div>
        </div>
      </div>
    </div>
  </section>