<!-- Projects Heading Section -->
<section class="projects-header">
  <div class="container">
    <h1 class="projects-title">Projects</h1>
    <p class="projects-caption">A selection of my work demonstrating creativity, problem-solving, and technical skills. <br> Click the card to reach the <b>GitHub</b> Repository of the project.
    </p>
  </div>
</section>

<section class="cards-section">
  <div class="container grid">
    <!-- Row 1 -->
    <div class="card" (click)='navigateTo("foodsaver")' style="cursor: pointer;">
      <h3>FoodSaver</h3>
      <p>A MEAN Stack App that connects underprivileged individuals with surplus food from local restaurants. <br>
        <br>
        Implements design principles and coding best practices. <br> <br> Commitment to Socal Impact and Accessible
        Design.
      </p>
    </div>

    <div class="card" (click)='navigateTo("lyriceum")' style="cursor: pointer;">
      <h3>Lyriceum</h3>
      <p> A novel Front-end Application to find lyrics for songs and save snippets. <br> <br> Leveraged open source
        APIs
        such as the Spotify API and Lyrics.ovh API.</p>
    </div>

    <div class="card" (click)='navigateTo("gwtalenttrade")' style="cursor: pointer;">
        <h3>GW TalentTrade</h3>
        <p>Android App that facilitates GW students in discovering and offering services in real time at customizable
          rates. <br><br>
          Includes features like Authentication, Authorization, and CRUD operations for listings.</p>
    </div>

    <!-- Row 2 -->
    <div class="card" (click)='navigateTo("airthincc")' style="cursor: pointer;">
      <h3>AirThin Currency Converter</h3>
      <p>AirThin Currency Converter, a minimal front-end proejct to help you quickly calculate and convert different currencies! Built with Angular </p>
    </div>

    <div class="card" (click)='navigateTo("airthinnotes")' style="cursor: pointer;">
      <h3>AirThin Notes</h3>
      <p>AirThin Notes is a minimal front-end proejct that lets you take notes on the fly, without creating an account! Your notes stay in the browser storage for you to get back to. Built with Angular </p>
    </div>
    <div class="card" (click)='navigateTo("mean-node-angular")' style="cursor: pointer;">
      <h3>MEAN Stack "Posts" Project</h3>
      <p>Project built as part of the Udemy course titled "Angular & NodeJS - The MEAN Stack Guide". <br><br> A posts
        web-app where you can signup/login, post and share things.</p>
    </div>

    <!-- Row 3 -->
    <div class="card" (click)='navigateTo("quizg")' style="cursor: pointer;">
      <h3>QuizG</h3>
      <p>An Android app that acts as a quick classroom resource for professors and students. <br><br> Separate portals
        for Professors and students along with timed quizzes, shuffled questions for every course.</p>
    </div>
    <div class="card" (click)='navigateTo("BigDataAnalytics")' style="cursor: pointer;">
      <h3>Big Data & Analytics Projects</h3>
      <p>Three projects on Graph Analytics, Clustering & Classification, and Text Analytics - built using R for the
        Intro to Big Data Analytics course. <br><br> Supplemented this knowledge with a term paper on "Scalable Graph
        Clustering for Community Detection"</p>
    </div>
    <div class="card" (click)='navigateTo("SentimentAnalysisCOVID19")' style="cursor: pointer;">
      <h3>Covid-19 Vaccine Tweets Sentiment Analysis</h3>
      <p>Sentiment Analysis using existing models, trained TextBlob model, VADER model's accuracy on a pre-labeled
        dataset, supplemented by visualizing distributions of data </p>
    </div>
  </div>
</section>