<app-navbar></app-navbar>

<app-header></app-header>

<span #mainHeader></span>

<header class="main-header">
  <div class="container with-bg">
    <h1 class="scroll-text">
      <span class="highlighted" #highlightedPart>I am a passionate Full Stack Developer crafting experiences with code.
      </span>
      <span #normalPart> I believe in Test Driven Development and blend academic expertise with enterprise innovation.
      </span>
    </h1>
  </div>
</header>

<app-timeline id="timeline"></app-timeline>

<!-- Skills Heading Section -->
<section class="projects-header bug-bg" id="skills">
  <div class="container">
    <h1 style="cursor: pointer;" *ngIf="isFullFormSkills" class="projects-title" (click)="toggleSkills()">{{skills}}</h1>

    <div style="cursor: pointer;" *ngIf="!isFullFormSkills" class="title" (click)="toggleSkills()">
      <h1>{{skills}}</h1>
    </div>
    <p class="projects-caption">The Tools and Technologies I can confidently use to create impact.</p>

    <!-- Programming Languages -->
    <div style="margin-bottom: 25px;">
      <div class="subheading">Programming Languages</div>
      <div class="skills-grid">
        <div class="icon-container" data-label="Java">
          <i class="devicon-java-plain colored"></i>
        </div>
        <div class="icon-container" data-label="C">
          <i class="devicon-c-plain colored"></i>
        </div>
        <div class="icon-container" data-label="C++">
          <i class="devicon-cplusplus-plain colored"></i>
        </div>
        <div class="icon-container" data-label="Python">
          <i class="devicon-python-plain colored"></i>
        </div>
        <div class="icon-container" data-label="JavaScript">
          <i class="devicon-javascript-plain colored"></i>
        </div>
        <div class="icon-container" data-label="TypeScript">
          <i class="devicon-typescript-plain colored"></i>
        </div>
        <div class="icon-container" data-label="MySQL">
          <i class="devicon-mysql-plain colored"></i>
        </div>
        <div class="icon-container" data-label="Kotlin">
          <i class="devicon-kotlin-plain colored"></i>
        </div>
        <div class="icon-container" data-label="R">
          <i class="devicon-r-original colored"></i>
        </div>
      </div>
    </div>

    <!-- Developer Tools -->
    <div style="margin-bottom: 25px;">
      <div class="subheading">Developer Tools</div>
      <div class="skills-grid">
        <div class="icon-container" data-label="VSCode">
          <i class="devicon-vscode-plain colored"></i>
        </div>
        <div class="icon-container" data-label="Android Studio">
          <i class="devicon-androidstudio-plain colored"></i>
        </div>
        <div class="icon-container" data-label="Chrome Developer Tools">
          <i class="devicon-chrome-plain colored"></i>
        </div>
        <div class="icon-container" data-label="Jira">
          <i class="devicon-jira-plain colored"></i>
        </div>
        <div class="icon-container" data-label="Jenkins">
          <i class="devicon-jenkins-line colored"></i>
        </div>
      </div>
    </div>
    <!-- Technologies & Frameworks -->
    <div>
      <div class="subheading">Technologies & Frameworks</div>
      <div class="skills-grid">
        <div class="icon-container" data-label="Angular">
          <i class="devicon-angularjs-plain colored"></i>
        </div>
        <div class="icon-container" data-label="NodeJS">
          <i class="devicon-nodejs-plain colored"></i>
        </div>
        <div class="icon-container" data-label="NPM">
          <i class="devicon-npm-original-wordmark colored"></i>
        </div>
        <div class="icon-container" data-label="React">
          <i class="devicon-react-original colored"></i>
        </div>
        <div class="icon-container" data-label="Express">
          <i class="devicon-express-original colored"></i>
        </div>
        <div class="icon-container" data-label="Jasmine">
          <i class="devicon-jasmine-plain colored"></i>
        </div>
        <div class="icon-container" data-label="Git">
          <i class="devicon-git-plain colored"></i>
        </div>
        <div class="icon-container" data-label="GitHub">
          <i class="devicon-github-original colored"></i>
        </div>
        <div class="icon-container" data-label="Putty">
          <i class="devicon-putty-plain colored"></i>
        </div>
        <div class="icon-container" data-label="Linux">
          <i class="devicon-linux-plain colored"></i>
        </div>
        <div class="icon-container" data-label="Firebase">
          <i class="devicon-firebase-plain colored"></i>
        </div>
      </div>
    </div>
  </div>
</section>

<app-projects id="projects"></app-projects>
<app-footer></app-footer>