
<div class="fixed-action-btn">
  <a class="btn-floating btn-large grey darken-4">
    <i class="large material-icons">expand_less</i>
  </a>
  <ul>
    <li><a class="btn-floating grey darken-3"><i class="material-icons">email</i></a></li>
    <li><a class="btn-floating grey darken-3">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a></li>
    <li><a class="btn-floating grey darken-3">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a></li>
    <li><a class="btn-floating grey darken-3">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a></li>
  </ul>
</div>

  <!-- Work & Experience Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Work and Experience</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves btn-flat">Close</a>
    </div>
  </div>

  <!-- About Me Modal Structure -->
  <div id="modal2" class="modal">
        
    <div class="col s12">
      <!-- <h4>Amish Raj</h4> -->
      <div class="card horizontal" style="margin-top: 0px !important; margin-bottom: 0px !important;">
        <div class="card-image">
          <img src="assets/amishraj.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Exploring Design is one thing I love to do, because this kind of work never ends. <br> <br>
            </p><p class=" grey-text text-darken-3">
            Finding new ideas, meeting new people and creating something new is a rush that I want to make a part of my professional 
            as well as personal life. 
            </p> <br>
            <p> I also make music, check it out!</p>
          </div>
          <div class="card-action">
            <a href="#" class="amber-text">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves btn-flat">Close</a>
    </div> -->
  </div>
          
<ul class="sidenav" id="mobile-demo">
  <li><a  href="modal1">Work & Experience</a></li>
  <li><a href="badges.html">About Me</a></li>
</ul>

<div class="containeramish">
  <div  #mainbg id="mainbg" > <!--BLUR: (click)="blur= !blur; onmousemovedef()" -->
  <img
   src="assets/amishraj2.jpg" alt="Amish Raj" 
  style="width:100%;">

</div>

  <!-- <div class="top-right">Top RIGHT</div> -->
  <div class="top-left">
    <div class="card-panel grey darken-4">
      UI Designer.
    </div>
  </div>

  <div class="just-left">
    <div class="card-panel left-align" style="background-color: rgba(0,0,0,0.8); font-family:  Helvetica;">
    <h4>  Hi I am <br> <span class="text text-darken-3"> Amish </span> <br> and <br> I am a <br> Web Designer. </h4>
    </div>
  </div>

  <div class="top-right">
  <nav style="position: sticky; background-color: rgba(0,0,0,0.8);">
    <div class="nav-wrapper">
      <!-- <a href="#!" class="brand-logo">Logo</a> -->

      <!--Dropdown Contacts-->
      <ul id="dropdown1" class="dropdown-content" style="background-color: rgb(255, 255, 255);  color:#000;">
        <li><a class="text-black" href="#!">Email</a></li>
        <li><a href="#!">Twitter</a></li>
        <li><a href="#!">LinkedIn</a></li>
        <li><a class="text-black" href="#!">Instagram</a></li>
      </ul>

      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class=" modal-trigger" href="#modal1">Work & Experience</a></li>
        <li><a class=" modal-trigger" href="#modal2">About Me</a></li>
        <!-- <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown1">
            Contact
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li> -->
      </ul>
    </div>
  </nav>
</div>
</div> 




       

<!-- <div class="row">
  <div class="col s12">
    <div class="card horizontal small">
      <div class="card-image">
        <img src="assets/amishraj2.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

</div> -->
<div class="section white" >
  <div class="row container">
    


    <h3 class="header grey-text text-darken-2" style="font-family: Helvetica !important;">Projects</h3>

    <!--Projects Row-->
    <!-- <div class="row">
      <div class="col s6">
        <div class="card small">
          <div class="card-image small">
            <img src="assets/cd.jpg">
            <span class="card-title">Chapter Dashboard</span>
          </div>
          <div class="card-content">
            <p>A Tool I built (UI) while working for Fidelity Investments. Made primarily as a one stop tool for Chapter Leaders 
              in the Spotify Model 
               <br>
            </p>
          </div>
          <div class="card-action">
            <a href="https://chapter.fmr.com">Chapter Dashboard</a>
          </div>
        </div>
      </div>
    </div> -->

    <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/cd.jpg" style=" filter: grayscale(100%);"> <!-- random image -->
          <div class="caption center-align">
            <h3>Chapter Dashboard</h3>
            <h5 class="light grey-text text-lighten-3">Fidelity Investments.</h5>
          </div>
        </li>
        <li>
          <img src="assets/study2.jpg" style=" filter: grayscale(100%);"> <!-- random image -->
          <div class="caption left-align">
            <h3>Training & Placement Center</h3>
            <h5 class="light grey-text text-lighten-3">An Android App for Training and Placement cell of an institute</h5>
          </div>
        </li>
        <!-- <li>
          <img src="https://lorempixel.com/580/250/nature/3"> 
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="https://lorempixel.com/580/250/nature/4"> 
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</div>

<!-- <div class="parallax-container">
  <div class="parallax">
    <img src="assets/cofee.jpg" style="height:initial; width: 100%;">
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="assets/aquatic-jungle-hd-wallpaper-by-alfred-schrock-iltwmt.jpg"></div>
</div> -->


<footer class="page-footer" style="background-color:rgb(24, 24, 24);">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Amish Raj</h5>
        <p class="grey-text text-lighten-4">UI Designer. Developer. Getting things done.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Connect with me!</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="tiny material-icons">email</i> Email</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020 Amish Raj
    <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
    </div>
  </div>
</footer>
    

