

/* HEADER */

.main-header {
    background-color: var(--bg-color);
    color: var(--dark-color);
    padding: 200px 0;
    /* Adjust depending on navbar height */
    text-align: center;
}

.main-header h1 {
    font-size: 3.5rem;
    color: var(--primary-color);
}

.main-header h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
}

.main-header p {
    font-size: 1.5rem;
    color: var(--text-color);
}

/* PROJECT TYPE HEADER */

  /* Projects Section */
  .projects-header {
    padding: 50px 0; /* Adjust padding to space it out */
    text-align: center; /* Center-align the text */
  }
  
  .projects-title {
    font-size: 5rem;
    font-weight: bold;
    color: var(--primary-color); /* Your purple primary color */
    margin-bottom: 10px;
  }
  
  .projects-caption {
    font-size: 1.5rem;
    color: var(--text-color); /* Text color for the caption */
    margin-bottom: 30px; /* Spacing before the cards */
  }
  

/* Responsive for smaller screens */
@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 cards per row on tablets */
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        /* 1 card per row on mobile */
    }
}


/* read text effect */
.scroll-text {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.7;
    transition: opacity 0.4s ease, font-weight 0.4s ease;
  }
  
  /* Default styles for both parts */
  .highlighted, #normalPart {
    display: inline;
    font-size: 3.5rem;
    color: #7f54ff;
    opacity: 0.3;
  }
  
  /* Highlighted effect */
  .highlight {
    font-weight: bold;
    opacity: 1;
    color: #7f54ff;
  }
  
  /* Reduce size of the rest of the text */
  .normal {
    opacity: 0.3;
    font-weight: normal;
  }
  

/* Background with two images */
.with-bg {
    position: relative;
    background: url('/assets/custombg2.png') no-repeat bottom left, /* First image at the bottom left */
                url('/assets/custombg1.png') no-repeat top right;  /* Second image at the top right */
    background-size: 300px, 200px; /* Set size for both images */
    padding: 150px; /* Padding around the text */
  }
  
  /* Text remains clear */
  .with-bg h1, 
  .with-bg p {
    position: relative;
    z-index: 2; /* Ensure text stays on top of the background */
    color: var(--primary-color);
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .with-bg {
      background-size: 100px, 100px; /* Smaller background for mobile devices */
    }
  }
  

/* Background with two images: skills */
.bug-bg {
    position: relative;
    background: url('/assets/bug.png') no-repeat top right,
                url('/assets/psst.png') no-repeat top left;  /* Another image at the top left */
    background-size: 250px, 400px; /* Set size for both images */
    padding: 150px; /* Padding around the text */
}

/* Ensure text stays clear on top of the background */
.bug-bg h1, 
.bug-bg p {
    position: relative;
    z-index: 2; /* Ensure text stays on top of the background */
}

/* Responsiveness */
@media (max-width: 768px) {
    .with-bg {
        background-size: 100px, 100px; /* Smaller background for mobile devices */
    }
}



/* cards */
.skills-section {
  background-color: var(--bg-color);
  padding: 40px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Allows for responsive columns */
  grid-gap: 20px;
  text-align: center;
}

.card {
  background-color: var(--bg-color);
  border: 2px solid #e0e0e0;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 6px 12px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
  text-align: center;
}

.card h3 {
  font-size: 2.2rem;
  font-weight: 800;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.card .price {
  font-size: 3rem;
  font-weight: bold;
  margin: 15px 0;
  color: var(--primary-color);
}

.card .description {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 20px;
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.card ul li {
  margin-bottom: 8px;
  font-size: 1.1rem;
  color: var(--text-color);
}

/* Button Styling */
.card .read-license {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card .read-license:hover {
  background-color: var(--dark-color);
}

.icons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.icons-container i {
  font-size: 4rem;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.icons-container i:hover {
  filter: invert(1);
  color: var(--dark-color);
}

.card:hover {
  /* Optional hover effect - you can enable it */
  /* transform: translateY(-5px) scale(1.01);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); */
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .icons-container i {
    font-size: 3rem;
  }
}

.skills-section h2 {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.subheading {
  font-size: 1.8rem;
  text-align: start;
  color: var(--text-color);
  margin-top: 40px;
  margin-bottom: 20px; /* Adds space below each title */
}

.skills-caption {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 50px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 40px;
  justify-items: center;
  align-items: center;
  margin-bottom: 40px;
}

.icon-container {
  position: relative;
}

.icon-container i {
  font-size: 6rem; /* Large size */
  transition: all 0.3s ease-in-out;
  color: var(--primary-color);
}

/* Hover effect - invert colors */
.icon-container:hover i {
  color: var(--dark-color);
}

.icon-container:hover::after {
  content: attr(data-label);
  position: absolute;
  top: 120%; /* Position the label below the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  color: var(--text-color);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  z-index: 1;
}

.icon-container::after {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


/* SKILLS TITLE */

.title {
  font-family: "Gilroy";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  line-height:2
}

h1 {
  background-image: url(https://media.giphy.com/media/p6EDJOPtyd0DJSuDef/giphy.gif?cid=ecf05e47ar13v5hv8qm997i84xkzfstaj3wx9eq05cbs5fwv&ep=v1_gifs_search&rid=giphy.gif&ct=g);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 7rem;
}