/* Hide the default cursor
body {
    cursor: none;
  }
  
  #custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    background-color: #000; /* Default black cursor for light mode 
    transition: background-color 0.2s ease, transform 0.1s ease;
    z-index: 9999;
  }
  
  /* Enlarged cursor on hover over interactive elements 
  #custom-cursor.scale {
    transform: scale(2);
  }
  
  /* Dark mode: white cursor 
  body.dark-theme #custom-cursor {
    background-color: #fff;
  }
   */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
}

/* Switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--primary-color);
}

input:checked+.slider:before {
    transform: translateX(14px);
}


/* Define Gilroy Light */
@font-face {
    font-family: 'Gilroy';
    src: url('assets/Gilroy-Light.otf') format('opentype');
    font-weight: 300;
    /* Light weight */
    font-style: normal;
}

/* Define Gilroy Extra Bold */
@font-face {
    font-family: 'Gilroy    ';
    src: url('assets/Gilroy-ExtraBold.otf') format('opentype');
    font-weight: 800;
    /* Extra Bold weight */
    font-style: normal;
}

:root {
    --primary-color: #7f54ff;
    --light-color: #ffffff;
    --text-color-dark: #121212;
    --text-color-light: #fafafa;
}

body {
    --bg-color: #ffffff;
    --dark-color: #202124;
    --text-color: #121212;
    --horizontal-line: 2px solid #e0e0e0;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body.dark-theme {
    --bg-color: #201c24;
    --dark-color: #ffffff;
    --text-color: #ffffff;
    --horizontal-line: 2px solid #4d4d4d;
    --shadow-color: rgba(255, 255, 255, 0.1);
}

.navbar {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Gilroy', serif;
}

body {
    background-color: var(--bg-color);
    transition: background-color 0.5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ensures padding is included in width */
}